:root {
  --nav-color: #8f8989;
  --primary-color: #20252d;
  --secondary-color: #cccccc;
  --off-white: #f1f1ee;
  --opacity: 0.7;
  --titleSize: 50pt;
  --mobileTitleSize: 35pt;
  --bioSize: 25pt;
  --mobileBioSize: 15pt;
  --mobileIconSize: 50pt;
  --nav-font-size: 12pt;
  --resumeSize: 15pt;
  --headerSize: 25pt;
  --formSize: 15pt;
  --flex-width: 100%;
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(@bar-height * 3 + @hamburger-gap * 2);
  --x-width: calc(@hamburger-height * 1.41421356237);
}
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}
.mobile-menu {
  display: none;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 1%;
  width: 100dvw;
  z-index: 4;
}
.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.nav-item {
  padding: 15px 10px;
}
.nav-link {
  background-color: var(--secondary-color);
  opacity: var(--opacity);
  padding: 8px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 12pt;
}
a:visited {
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 15px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 12pt;
  text-decoration: none;
}
#view-home,
#view-about {
  height: 100dvh;
  width: 100dvw;
  background-color: var(--primary-color);
  z-index: 2;
  margin: 0;
  padding: 0;
}
.animation-box {
  position: absolute;
  top: 0;
}
.animation-dots {
  position: absolute;
  width: 35px;
  height: 35px;
  list-style: none;
  opacity: 0;
  background: radial-gradient(var(--secondary-color), transparent, transparent);
  left: 5dvw;
  animation: animate 20s linear infinite;
  z-index: 1;
  top: 0;
}
.dot2 {
  left: 37dvw;
  animation-delay: 2s;
}
.dot3 {
  left: 15dvw;
  animation-delay: 4s;
}
.dot4 {
  left: 60dvw;
  animation-delay: 7s;
}
.dot5 {
  left: 75dvw;
  animation-delay: 4s;
}
.dot6 {
  left: 90dvw;
  animation-delay: 5s;
}
@keyframes animate {
  0% {
    transform: scale(0);
    opacity: 0;
    top: 0dvh;
  }
  1% {
    transform: scale(0);
    opacity: 1;
    top: 1dvh;
  }
  100% {
    transform: scale(10);
    opacity: 0;
    top: 100dvh;
  }
}
.header {
  height: 75dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  opacity: var(--opacity);
}
.header-text {
  font-size: 50pt;
}

.footer {
  width: 100dvw;
  height: 25dvh;
  margin: 0;
  padding: 0;
  background-image: url("Images/Antarctica.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#animation-content-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about-main {
  height: 75dvh;
  width: 100dvw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.languages i {
  font-size: 4dvw;
  margin-top: 10px;
  opacity: var(--opacity);
}
#about-bio {
  font-size: 20pt;
  color: var(--secondary-color);
  opacity: var(--opacity);
  text-align: center;
  max-width: 60dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.form-icon {
  color: var(--secondary-color);
  opacity: var(--opacity);
  font-size: 25pt;
  text-align: center;
  opacity: 0.8;
  margin: 0 2dvw;
}
#about-headshot {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-headshot-img {
  background-image: url("Images/hill-lisa-sq.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 26dvw;
  aspect-ratio: 1 / 1;
}
#view-projects {
  background-color: var(--primary-color);
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100dvw;
  min-height: 75dvh;
}
#animation-content-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  padding-top: 10px;
}
#projects-title {
  color: var(--secondary-color);
  opacity: var(--opacity);
  font-size: 50pt;
  margin-left: 40px;
  align-self: flex-start;
}
.projects-container {
  width: 95dvw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 2;
}
.read-me {
  font-size: 18pt;
  color: var(--secondary-color);
  text-align: center;
}
.github-link {
  text-decoration: none;
  color: var(--secondary-color);
}
.project {
  aspect-ratio: 1/1;
  width: 35dvw;
  max-width: 400px;
  margin-bottom: 20px;
}
.project-text,
.icons {
  background-color: var(--secondary-color);
  opacity: 95%;
  padding: 3pt;
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
}
.project-link,
.project-link:visited {
  text-decoration: none;
  color: var(--primary-color);
}
#project1 {
  background-image: url("Images/bookshelfScreenshot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#project2 {
  background-image: url("Images/planScreenshot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#project3 {
  background-image: url("Images/tradeScreenshot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#project4 {
  background-image: url("Images/weatherScreenshot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer {
  height: 25dvh;
  position: absolute;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 975px) {
  #about-bio {
    font-size: 18.5pt;
  }
}
@media only screen and (max-width: 800px) {
  #about-bio {
    font-size: 15pt;
  }
}
@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .mobile-menu,
  .mobile-menu::before,
  .mobile-menu::after {
    box-sizing: border-box;
    display: inline;
    position: fixed;
    z-index: 5;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: max-content;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 6;
    cursor: pointer;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: 60px;
    height: 8px;
    background-color: var(--nav-color);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity 200ms ease-in-out, width 200ms ease-in-out,
      rotate 200ms ease-in-out, translate 200ms ease-in-out,
      background-color 200ms ease-in-out;
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0px;
    margin: 0px;
    outline: none;
    pointer-events: none;
  }
  .hamburger-menu input:checked {
    opacity: 0%;
    width: 0;
  }
  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: calc(calc(8px * 3 + 6px * 2) * 1.41421356);
    translate: 0 calc(8px / -2);
    background-color: var(--secondary-color);
  }
  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: calc(calc(8px * 3 + 6px * 2) * 1.41421356);
    translate: 0 calc(8px / 2);
    background-color: var(--secondary-color);
  }
  .sidebar {
    transition: translate 200ms ease-in-out;
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(calc(8px * 3 + 6px * 2) + 8px + 1rem);
    background-color: var(--nav-color);
    font-weight: bold;
    max-width: 15rem;
    min-height: 100dvh;
    position: absolute;
    z-index: 5;
  }
  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
  }
  .aside-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
  }
  .aside-li,
  .aside-li:visited {
    color: var(--primary-color);
    list-style-type: none;
    font-size: 12pt;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
  }
  #about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75dvh;
    width: 100dvw;
    padding: 15px, 0px;
  }
  #about-headshot {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  .languages i {
    font-size: 7dvw;
  }
  #about-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    max-width: 90dvw;
  }
  #about-headshot-img {
    width: 40dvw;
  }
  .form-icon {
    font-size: 7dvw;
  }
  #projects-title {
    align-self: center;
    width: 90dvw;
    font-size: 8dvw;
    text-align: center;
    margin: 0;
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .project {
    width: 85dvw;
    margin: 7px;
  }
  .project-description {
    width: 85dvw;
  }
}
