:root{
  --nav-color: #8f8989;
  --primary-color: #20252d;
  --secondary-color: #CCCCCC;
  --off-white: #f1f1ee;
  --opacity: 0.7;
  --gridGap: 15px;
  --titleSize: 50pt;
  --mobileTitleSize: 35pt;
  --bioSize: 25pt;
  --mobileBioSize: 15pt;
  --mobileIconSize:50pt;
  --nav-font-size: 12pt;
  --resumeSize: 15pt;
  --headerSize: 25pt;
  --formSize: 15pt;
  --flex-width: 100%;
  --bar-width:60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(@bar-height * 3 + @hamburger-gap * 2);
  --x-width: calc(@hamburger-height * 1.41421356237);
  --tuGold: #ffbb00;
  --tuGraphite: #3C3C3C;
  --movementDarkBlue: #001f5b;
  --movementLightBlue: #009ca6;
  --movementYellow: #ede04b;
  --movementGrey: #5b6770;
  --movementWhite: #fff;
  --movementBlueGrey: #abb8c3;
  --movementMidGrey: #C1C6C8;
  --movementFooterWidth: 80vw;
  --chewyBlue: #1C49C2;
  --chewyWhite: #ffffff;
  --chewyYellow: #FFC80F;
  --chewyLightGrey: #F5F5F5;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.mobile-menu {
  display: none;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}
.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.nav-item {
  padding: 15px 10px;
}
.nav-link {
  background-color: var(--secondary-color);
  opacity: var(--opacity);
  padding: 8px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 12pt;
}
a:visited {
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 15px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 12pt;
  text-decoration: none;
}
#view-home, #view-about {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
  z-index: 2;
  margin: 0;
  padding: 0;
}
.animation-box {
  position: absolute;
  bottom: 0;
}
.animation-dots {
  position: absolute;
  width: 35px;
  height: 35px;
  list-style: none;
  opacity: 0;
  background: radial-gradient(var(--secondary-color), transparent, transparent);
  left: 5vw;
  animation: animate 20s linear infinite;
  z-index: 1;
  bottom: 0;
}
.dot2 {
  left: 37vw;
  animation-delay: 2s;
}
.dot3 {
  left: 15vw;
  animation-delay: 4s;
}
.dot4{
  left: 60vw;
  animation-delay: 7s;
}
.dot5{
  left: 75vw;
  animation-delay: 4s;
}
.dot6{
  left: 90vw;
  animation-delay: 5s;
}
@keyframes animate{
  0%{
      transform: scale(0);
      opacity: 0;
      bottom: 2vh;
  }
  1%{
      transform: scale(0);
      opacity: 1;
      bottom: 10vh;
  }
  100%{
      transform: scale(10);
      opacity: 0;
      bottom: 100vh;
  }
}
.header {
  height: 75vh;
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  opacity: var(--opacity);

}
.footer {
  width: 100vw;
  height: 25vh;
  margin: 0;
  padding: 0;
  background-image: url("Images/Antarctica.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#animation-content-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about-main{
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#about-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.languages i{
  font-size: 4vw;
  margin-top: 10px;
  opacity: var(--opacity);
}
#about-bio {
  font-size: 2vw;
  color: var(--secondary-color);
  opacity: var(--opacity);
  text-align: center;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.form-icon {
  color: var(--secondary-color);
  opacity: var(--opacity);
  font-size: 3vw;
  text-align: center;
  opacity: 0.8;
  margin: 0 2vw;
}
#about-headshot {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-headshot-img{
  background-image: url("ProfessionalPhotos/hill-lisa-sq.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  aspect-ratio: 1 / 1;
}
#view-projects {
  background-color: var(--primary-color);
  z-index: 2;
  margin: 0;
  padding: 0;
}
#animation-content-projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects-title {
  color: var(--secondary-color);
  opacity: var(--opacity);
  font-size: 50pt;
  width: 100vw;
  margin-left: 40px;
}
.projects {
  display: grid;
  grid-gap: var(--gridGap);
  z-index: 1;
  padding: 20px;
}
.project {
  background-color: var(--secondary-color);
  height: 300px;
  width: 40vw;
  grid-column-start: 1;
  grid-column-end: 2;
}
.project-description {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 40vw;
  color: var(--secondary-color);
  font-size: 15pt;
  text-align: center;
}
.project-text, .icons {
  background-color: var(--secondary-color);
  opacity: 95%;
  padding: 3pt;
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
}
.project-link, .project-link:visited {
  text-decoration: none;
  color: var(--primary-color);
}
#project1 {
  background-image: url("Images/appleScreenshot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row-start: 1;
  grid-row-end: 2;
}
#description-project1{
  grid-row-start: 1;
  grid-row-end: 2;
}
#project2 {
  background-image: url("Images/dcp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row-start: 2;
  grid-row-end: 3;
}
#description-project2{
  grid-row-start: 2;
  grid-row-end: 3;
}
#project3 {
  background-image: url("Images/movementProject.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row-start: 3;
  grid-row-end: 4;
}
#description-project3{
  grid-row-start: 3;
  grid-row-end: 4;
}
#project4 {
  background-image: url("Images/chewyScreenshot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row-start: 4;
  grid-row-end: 5;
}
#description-project4{
  grid-row-start: 4;
  grid-row-end: 5;
}
#project5 {
  background-image: url("Images/weatherScreenshot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-row-start: 5;
  grid-row-end: 6;
}
#description-project5{
  grid-row-start: 5;
  grid-row-end: 6;
}
footer .footer {
  height: 30vh;
  position: absolute;
  margin: 0;
  padding: 0;
}
#animation-box-projects{
  position: relative;
}
.navTop {
  position: fixed;
  bottom: 0;
  margin: 10px;
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 15px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 12pt;
}
.apple_copy {
  max-width: 100vw;
}
.apple_header {
  position: fixed;
  top: 0;
  background-color: rgba(251, 251, 253, 0.8);
  width: 100vw;
}
.apple_header_items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 12px;
  color: #1d1d1f;
  margin: 0vw 10vw;
  font-weight: 400;
  letter-spacing: -0.01em;
  list-style-type: none;
  padding: 0 22px;
  margin-top: 15px;
  margin-bottom: 10px;
  max-width: 1030px;
}
.fa-apple {
  color: #000000;
}
.fa-bag-shopping {
  color: #000000;
}
.header_message {
  text-align: center;
  font-size: 14px;
  color: #1d1d1f;
  margin-top: 75px;
}
.apple_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-bottom: 20px;
}
#wonderfull_text {
  background-color: #fbfbfd;
  color: black;
}
#macBookAir_text {
  background-color: #fbfbfd;
  color: black;
}
.apple_text h2 {
  font-size: 38pt;
  font-weight: lighter;
  margin-bottom: -10px;
}
.apple_text h3 {
  font-size: 20pt;
  font-weight: lighter;
}
.apple_links p {
  display: inline;
  font-size: 15pt;
  color: #2997ff;
}
.iPhone_pro_image {
  background-image: url("Images/iPhone14.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 60vh;
}
.iphone14_wonderfull_image {
  background-image: url("Images/iPhone14_wonderfull.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 60vh;
}
.macBookAir_image {
  background-image: url("Images/macBookAir.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 60vh;
}
.apple_footer {
  width: 100vw;
  background-color: #f5f5f7;
}
.apple_statement {
  max-width: 1030px;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #6e6e73;
  margin: auto;
  padding: 5px 0px;
}
.tuNavBars {
  position: fixed;
  top: 0;
  width: 100vw;
}
.upperNavBar {
  display: grid;
  background-color: #000000;
  padding: 5px;
  border-bottom: 2px #FFBB00 solid;
}
.navigation {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-start;
}
.otherLinks {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.tuNavItems {
  color: white;
  list-style-type: none;
}
.tuNavItem {
  display: inline;
  padding: 10px;
}
#tu_search {
  border: 2px white solid;
  padding: 5px;
  margin-right: 5px;
}
.lowerNavBar {
  background-color: #fff;
  border-bottom: 0.5px solid #3C3C3C;
  display: grid;
  width: 100vw;
}
.leftGraphics {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 30vw;
}
.rightLinks {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  width: 70vw;
}
#parallelogram {
  border: 2px solid #ffbb00;
  transform: skew(20deg);
  width: 450px;
  height: 108px;
  position: relative;
}
.tuLogo {
  position: absolute;
  transform: translate(20%, -100%);
}
.lowerLinks {
  list-style-type: none;
}
.lowerLink {
  display: inline;
  padding: 18px;
  font-size: 14pt;
}
.plan_header {
  margin-top: 200px;
  text-align: center;
  font-size: 25pt;
}
.tu_footer {
  display: grid;
  max-width: 100vw;
  background-color: black;
  color: white;
  padding-top: 25px;
  padding-bottom: 5px;
  font-size: 15pt;
  font-weight: 500;
}
.tu_footer_left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10px;
}
.tu_footer_left_text {
  padding-left: 10px;
}
.tu_footer_center {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-evenly;
}
.tu_footer_center_left_item,
.tu_footer_center_right_item {
  line-height: 2;
}
.tu_footer_right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.tu_footer_right_text {
  line-height: normal;
}
.usmMessage {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}
.tu_footer_center ul {
  list-style-type: none;
}
.semesters {
  display: grid;
}
.semester {
  max-width: 45vw;
}
#semester1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#semester2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#semester3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#semester4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.trade_a_belay {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  max-width: 100vw;
}
.movement_nav_bar {
  display: flex;
  flex-direction: column;
}
.movement_nav_ad {
  background-color: #001f5b;
  text-align: center;
  color: #fff;
  padding: 16px 0px;
  font-size: 13pt;
}
.add_more {
  color: #ede04b;
  display: inline;
}
.movement_small_nav {
  background-color: #5b6770;
  display: flex;
  justify-content: flex-end;
  font-size: 10pt;
}
.small_nav_list {
  list-style: none;
  font-weight: bold;
}
.small_nav_item {
  display: inline;
  padding: 10px;
}
.white {
  color: #fff;
}
.yellow {
  color: #ede04b;
}
.movement_large_nav {
  background-color: #001f5b;
  display: grid;
  color: #fff;
  padding: 30px;
}
.movement_logo_nav {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url("Images/movement.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 268px;
}
.large_nav_list {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.large_nav_item {
  display: inline;
  list-style: none;
  padding: 10px;
  font-weight: bold;
}
.large_nav_location {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.belay_body {
  background-color: #C1C6C8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.belay_bios {
  display: flex;
  flex-direction: column;
  width: 90vw;
  background-color: #5b6770;
  margin-top: 20px;
}
.belay_bio1,
.belay_bio2,
.belay_bio3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  border: 2px #abb8c3 solid;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 5px 10px #fff;
}
.belay_bio1,
.belay_bio3 {
  align-self: flex-start;
  background-color: #abb8c3;
  color: #001f5b;
  margin-left: 20px;
}
.belay_bio2 {
  align-self: flex-end;
  background-color: #abb8c3;
  color: #001f5b;
  margin-right: 20px;
}
.belay_bio3 {
  margin-bottom: 30px;
}
.movement_bio_img {
  width: 250px;
  padding-right: 20px;
}
.belay_bio_question {
  font-weight: bold;
}
.belay_form {
  padding: 20px;
  margin: 20px;
  background-color: #001f5b;
  color: #fff;
  font-size: 15pt;
}
.belay_form_fieldset {
  border: 2px #fff solid;
}
#movement_name,
#movement_style,
#movement_gym,
#movement_message,
#movement_contact {
  background-color: #fff;
  color: black;
  font-size: 15pt;
}
.movement_post {
  font-size: 15pt;
  border-radius: 5px;
}
.movement_footer_main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5b6770;
  height: 60vh;
}
.movement_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80vw;
  height: 40vh;
}
.movement_footer_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}
.movement_footer_newsletter_text {
  background-color: #ede04b;
  color: #001f5b;
  padding: 15px 25px;
  align-self: center;
  font-size: 15pt;
}
.movement_footer_social {
  align-self: center;
  font-size: 22pt;
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.movement_footer_2 {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  width: 80vw;
}
.footer_box_list {
  border-right: 1px solid #fff;
  padding-right: 10px;
}
#footer_box4_list {
  border: none;
}
.footer_box_item {
  list-style: none;
}
.movement_footer_3 {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}
.movement_copy {
  color: #fff;
  align-self: center;
}
.movement_logo_vertical {
  height: 90px;
}
.chewy_navbar {
  width: 100vw;
  background-color: #1C49C2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chewy_top_nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: 15pt;
  padding: 30px 20px;
  width: 100vw;
  color: #ffffff;
}
.chewy_top_nav_left {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}
.chewy_top_nav_right {
  display: flex;
  justify-content: space-around;
  width: 40vw;
}
.chewy_logo {
  background-image: url("Images/chewyLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  padding: 15px;
}
#chewy_search {
  width: 45vw;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
}
.chewy_bottom_nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: #fff;
  width: 100vw;
  padding: 20px 0px;
  font-size: 14pt;
}
#chewy_shop {
  font-weight: bold;
  font-size: 15pt;
}
#chewy_delivery {
  color: #FFC80F;
  font-size: 12pt;
}
.chewy_ad {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}
.chewy_ad_item {
  padding: 5px;
  font-weight: bold;
}
.chewy_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chewy_top_slider {
  background-image: url("Images/chewyAutoship.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 300px;
}
.chewy_slider_navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: #F5F5F5;
  padding: 20px;
}
.chewy_slider_navbar_section i {
  font-size: 20pt;
  padding: 15px;
}
#chewy_slider_navbar_section2,
#chewy_slider_navbar_section3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chewy_section_top {
  font-weight: bold;
}
#chewy_line1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 40vh;
}
.chewy_line1_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
}
.chewy_line1_box_image {
  width: 22vw;
}
.chewy_line1_box_text {
  font-weight: bold;
  padding-top: 15px;
}
#chewy_line2 {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chewy_line2_title {
  align-self: flex-start;
  font-size: 15pt;
  font-weight: bold;
  padding: 10px;
}
.chewy_line2_boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
.chewy_line2_image {
  width: 47vw;
}
#chewy_line2_left,
#chewy_line2_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chewy_line2_text {
  font-weight: bold;
  padding: 10px;
}
.chewy_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.chewy_footer_area {
  width: 100vw;
}
#chewy_footer_area1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1C49C2;
  color: #ffffff;
  font-weight: bold;
  padding: 20px;
  font-size: 15pt;
}
.chewy_footer_area1_section {
  display: flex;
}
.chewy_footer_area1_section i {
  padding-right: 10px;
}
#chewy_top {
  background-color: #ffffff;
  color: #1C49C2;
  text-decoration: none;
  padding: 12px 45px;
  border-radius: 45px;
}
#chewy_top:visited {
  text-decoration: none;
}
#chewy_footer_area2 {
  padding: 30px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chewy_footer_area2_section {
  display: inline;
  padding: 20px;
}
.chewy_footer_area2_socials i {
  font-size: 25pt;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .mobile-menu,
  .mobile-menu::before,
  .mobile-menu::after {
    box-sizing: border-box;
    display: inline;
    position: fixed;
    z-index: 5;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: max-content;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 6;
    cursor: pointer;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: '';
    width: 60px;
    height: 8px;
    background-color: var(--nav-color);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity 200ms ease-in-out, width 200ms ease-in-out, rotate 200ms ease-in-out, translate 200ms ease-in-out, background-color 200ms ease-in-out;
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0px;
    margin: 0px;
    outline: none;
    pointer-events: none;
  }
  .hamburger-menu input:checked {
    opacity: 0%;
    width: 0;
  }
  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: calc(calc(8px * 3 + 6px * 2) * 1.41421356);
    translate: 0 calc(8px / -2);
    background-color: var(--secondary-color);
  }
  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: calc(calc(8px * 3 + 6px * 2) * 1.41421356);
    translate: 0 calc(8px / 2);
    background-color: var(--secondary-color);
  }
  .sidebar {
    transition: translate 200ms ease-in-out;
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(calc(8px * 3 + 6px * 2) + 8px + 1rem);
    background-color: var(--nav-color);
    font-weight: bold;
    max-width: 15rem;
    min-height: 100vh;
    position: absolute;
    z-index: 5;
  }
  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
  }
  .aside-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
  }
  .aside-li,
  .aside-li:visited {
    color: var(--primary-color);
    list-style-type: none;
    font-size: 12pt;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
  }
  #about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
    margin-top: 5px;
  }
  #about-headshot {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  .languages i{
    font-size: 7vw;
  }
  #about-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    max-width: 90vw;
  }
  #about-headshot-img{
    width: 50vw;
  }
  .form-icon{
    font-size: 7vw;
  }
  #projects-title{
    align-self: center;
    width: 90vw;
    font-size: 8vw;
    text-align: center;
  }
  .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project{
    width: 85vw;
    margin: 7px;
  }
  .project-description{
    width: 85vw;
  }
}
