:root {
  --tuGold: #ffbb00;
  --tuGraphite: #3c3c3c;
}
body {
  font-family: figtree, sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.tuNavBars {
  position: fixed;
  top: 0;
  width: 100vw;
}
.upperNavBar {
  display: grid;
  background-color: #000000;
  padding: 5px;
  border-bottom: 2px var(--tuGold) solid;
}
.fa-caret-down,
.fa-heart,
.fa-calendar,
.fa-laptop,
.fa-phone,
.fa-square,
.fa-language {
  color: var(--tuGold);
  padding: 0px 5px;
}
.fa-magnifying-glass,
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-youtube,
.fa-linkedin {
  color: #ffffff;
  padding: 0px 5px;
}
.navigation {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-start;
}
.otherLinks {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.tuNavItems {
  color: white;
  list-style-type: none;
}
.tuNavItem {
  display: inline;
  padding: 10px;
}
#tuSearch {
  border: 2px white solid;
  padding: 5px;
  margin-right: 5px;
}
.lowerNavBar {
  background-color: #fff;
  border-bottom: 0.5px solid var(--tuGraphite);
  display: grid;
  width: 100vw;
}
.leftGraphics {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 30vw;
}
.rightLinks {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  width: 70vw;
}
#parallelogram {
  border: 2px solid var(--tuGold);
  transform: skew(20deg);
  width: 450px;
  height: 108px;
  position: relative;
}
.tuLogo {
  position: absolute;
  transform: translate(20%, -100%);
}
.lowerLinks {
  list-style-type: none;
}
.lowerLink {
  display: inline;
  padding: 18px;
  font-size: 14pt;
}
.planTitle {
  margin-top: 200px;
  text-align: center;
  font-size: 25pt;
}
.topInfo {
  width: 100vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 15pt;
}
.studentInfo,
.advisorInfo,
.majorInfo {
  margin: 10px 5px;
}
.topInfo input {
  margin-right: 10px;
}
fieldset {
  margin: 10px 25px;
}
.allSemesters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.semester {
  max-width: 40vw;
}
.semesterInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.oneClass {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
input,
select {
  margin: 2px 5px;
}
#addClass {
  margin: 4px 0px;
}
.bottomButtons {
  display: flex;
  justify-content: center;
  margin: 10px;
}
button {
  padding: 5px 5px;
  margin: 0px 10px;
}
.tuFooter {
  display: grid;
  width: 100vw;
  background-color: black;
  color: white;
  padding-top: 25px;
  padding-bottom: 5px;
  font-size: 15pt;
  font-weight: 500;
}

.tuFooterLeft {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 10px;
}
.tuFooterLeftText {
  padding-left: 10px;
}
.tuFooterCenter {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-evenly;
}
.tuFooterCenterLeftItem,
.tuFooterCenterRightItem {
  line-height: 2;
}
.tuFooterRight {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.tuFooterRightText {
  line-height: normal;
}
.usmMessage {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}
.tuFooterCenter ul {
  list-style-type: none;
}
